
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
 
header{
   background-color: aqua;
   padding:10px 0;
}
 /*.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
 }*/

 /*ALL NAV MENU*/
 .nav ul li{ /*ul li r general list items */
   margin: 0 15px;
 }
 .nav ul{/*the entire unordered list*/
   display:flex;
   justify-content:center;
   list-style-type:none;
 }
 .nav ul li a{ /*home, about, blog, contact each are:*/
   color: black;
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
   transition: color 0.3s ease;
 }


 /*.box{ idk why this is still here remove 
    background-color: lightblue;
    padding: 20px;
    text-align: center;

 }*/

 .flex-container{ /*flex 4 boxes and side*/
   display: flex;
   justify-content: space-between;
   gap:20px;
   padding:20px;
   margin-top: 20px;
 }

 article {/*home page box*/
   flex: 3;
   background-color: yellow;
   padding: 20px;
   border-radius: 8px;
 }

 aside{/*side bar*/
   flex: 1;
   background-color: pink;
   padding:20px;
   border-radius: 8px;

 }
 footer {
   background-color: green;
   color: black;
   text-align: center;
   padding:15px;
   position:relative;
   bottom:0;
   width: 100%;
   }

 /*ADD MOBILE RESPONSIVE DESIGN 768 px*/
 @media (max-width: 768px) {
   .flex-container {
      flex-direction: column;
      gap: 15px;
   }
   .nav ul{
      flex-direction: column;
      align-items: center;
   }
   .nav ul li {
      margin: 10px 0;
   }
 }

