/*
  style.css - Assignment 3 (Chapter 5 focus)
  ----------------------------------------------------------
  References (Chapter 5):
    - External vs. Internal vs. Inline CSS
    - Cascade (specificity, order)
    - Inheritance (how child elements get parent properties)
*/


body {
    color: rgb(111, 190, 232);
    font-family: Georgia, sans-serif;
    background-color: rgb(247, 237, 237);
    font-size: 20px;
    /* I chose georgia from chapter 12 for the body and monotype corsiva for the header in html file*/
  }
  
  /* using rgb color picker instead of hex codes */
  h1{
    color: rgb(235, 155, 199);
  }
  
  /*
    Add more rules if desired:
    - Paragraphs (p)
    - Footer
    - etc.
  */
  
  /*
    For demonstration:
    - Show which rules get overridden by your internal <style> block
    - Which might get overridden by inline styles
    - Comment your observations about the cascade and inheritance
  */