
/**{
   /*margin:0;
   padding:0;
   box-sizing: border-box;/*specify width and height*/


header{
   background-color: aqua;
   padding:10px 0;
}

 /*ALL NAV MENU*/
 .nav ul li{ /*ul li r general list items */
   margin: 0 15px;
 }
 .nav ul{/*the entire unordered list*/
   display:flex;
   justify-content:center;
   list-style-type:none;
 }
 .nav ul li a{ /*home, about, blog, contact titles*/
   color: black;
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
   transition: color 0.3s ease;
 }

 .flex-container{ /*flex 4 content and sidebar*/
   display: flex;
   justify-content: space-between; /*boxes will have space between them*/
   gap:20px;
   padding:20px;
   margin-top: 20px;
   flex: 1;
 }

 article {/*home page box*/
   flex: 3;/*takes up more space than the aside/side bar*/
   background-color: yellow;
   padding: 20px;
   border-radius: 8px;
 }

 aside{/*side bar*/
   flex: 1;
   background-color: pink;
   padding:20px;
   border-radius: 8px;

 }
 footer {
   background-color: green;
   color: black;
   text-align: center;
   font-weight: bold;
   padding:15px;
   position:relative;/*other content eill not be adjusted to fit into element*/
   }

 /*ADD MOBILE RESPONSIVE DESIGN 4 NAV AND FC 768 px*/
 @media (max-width: 768px) {
   .flex-container {
      flex-direction: column;
      gap: 15px;
   }
   .nav ul{
      flex-direction: column;
      align-items: center;
   }
   .nav ul li {
      margin: 10px 0;
   }
 }

